@each $class,
$color in map-get($palettes, social) {
    .#{$class} {
        color: white;
        background-color: $color;
        border-color: $color;
    }
}
footer {
    background-color: #1d1d1d;
    @extend .boxPadding;
    color: white;
    ul.social {
        @extend .flexRowNoWrap;
        justify-content:center;
        li {
            flex: 0 0 25px;
            padding: ($pad/2);
            svg {
                max-width: 100%;
                height: auto;
                fill: gray;
                cursor: pointer;
                @extend .animated;
                @each $class, $color in map-get($palettes, social) {
                    &.#{$class}:hover {
                        fill: unquote($color);
                    }
                }
                
            }
        }
    }
}