.experience{
  $self:&;
  @extend .flexCol;
  #{ $self }__company{
	display:flex;
	justify-content:space-between;
	align-items:center;
	@extend h3;
	text-align:left;
	text-transform:capitalize;
	color:dimgray;
	padding:$pad/2;
	margin:0;
	&.isOpen{
	  color:$primaryColor;
	}
  }
  #{ $self }__body{
	border-bottom:1px solid #8dc63f;
	overflow: hidden;
	padding:0 $pad;
	flex: 0 0 0;
	//height:0;
	margin:0;
	transition: height, padding, margin, flex-basis;
	transition-duration:600ms;
	transition-delay:0ms;
	> * {
	  overflow:hidden;
	}
	* {
	  opacity:0;
	  margin:0;
	  overflow:hidden;
	  transition: opacity 600ms 0ms;
	}

	h3, h4, h5, h6{
	  text-align:left;
	  font-weight:400;
	  color:dimgray;
	}
	#{ $self }__position{
	  margin:0 0 $pad/4 0;
	}
	#{ $self }__date{
	  margin:0;
	}
	#{ $self }__responsability{
	  margin:$pad 0;
	}
	&.isOpen{
	  flex:1 1 auto;
	  //height:100%;
	  padding:0 $pad $pad $pad;
	  border-bottom:1px solid $primaryColor;
	  //transition-delay:100ms;
	  //transition: height .4s, padding .4s;
	  transition-duration:300ms;
	  transition-delay:300ms;
	  * {
		opacity:1;
		transition: opacity 600ms 300ms;
	  }
	}
  }
  ul{
	list-style:none;
	text-indent:$pad;
	margin:0;
	padding:0;
	li{
	  margin:0;
	  padding:0 0 ($pad/3) 0;
	  &:before{
		content:"• ";
		color:$primaryColor;
	  }
	}
  }
}