.siema {
    text-align: center;
    transform: translate3d(0, 0, 0);
    -webkit-font-smoothing: subpixel-antialiased;
    > div {
        padding: $pad 0;
        transform: translate3d(0, 0, 0);
    }
    .title {
        @include ms-respond(font-size, 2);
        font-weight: 700;
    }
    .place {
        @include ms-respond(font-size, 4);
        font-weight: 300;
    }
    .date {
        @include ms-respond(font-size, 7);
        font-weight: 100;
        color: $primaryColor;
    }
}

.flexSiema {
    @extend .flexRowNoWrap;
    align-items: center;
    justify-content: space-between;
    .btn {
        flex: 0 0 auto;
    }
    .main {
        flex: 1 1 auto;
        overflow: hidden;
    }
}